<div class="mt-4">
        <h3 class="text-center">Các khóa học đã xóa</h3>
    <div>
        <a class="btn btn-light" href="/me/stored/courses"><i class="fa-solid fa-arrow-left mr-2"></i>Quay lại danh sách</a>
    </div>
    <table class="table mt-5">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th colspan="3">Mô tả</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td >
                        <button href="" class="btn btn-warning btn-restore" data-id="{{this._id}}">Khôi phục</button>
                    </td>
                    <td >
                        <button class="btn btn-danger" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Xóa vĩnh viễn</button>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Chưa có khóa học nào bị xóa.
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="delete-course-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa vĩnh viễn khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hành động này không thể khôi phục. Bạn có chắc chắn muốn xóa bỏ vĩnh viễn khóa học này?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete submit hidden form --}}
<form method="post" name="delete-course-form"></form>

{{!-- Restore submit hidden form --}}
<form method="post" name="restore-course-form"></form>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var courseId
        var deleteForm = document.forms['delete-course-form']
        var restoreForm = document.forms['restore-course-form']
        var btnDeleteCourse = document.querySelector('#btn-delete-course')
        var btnRestore = $('.btn-restore')

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id')
            
        })

        btnDeleteCourse.onclick = () => {
            deleteForm.action = `/courses/${courseId}/force?_method=delete`
            deleteForm.submit()
        }

        btnRestore.click(function(e) {
            e.preventDefault()
            courseId = $(this).data('id')
            restoreForm.action = `/courses/${courseId}/restore?_method=patch`
            restoreForm.submit()
        })
    })
</script>